export(acount)
export(alleleCounts)
export(defaultHistobounds)
export(fillUpper)
export(matrix.to.vec)
export(observedLLR)
export(observedProb)
export(observedU)
export(observedX2)
export(plotHistogram)
export(vec.to.matrix)
export(xcount)
export(xtest)
useDynLib(HWxtest)
