export(acount)
export(alleleCounts)
export(fillUpper)
export(genotypeList.to.matrix)
export(matrix.to.vec)
export(observedLLR)
export(observedProb)
export(observedU)
export(observedX2)
export(vec.to.matrix)
export(xcount)
